@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome messi<html lang="en">

        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width= Item , initial-scale=1.0">
            <title>Document body me</title>
        </head>

        <body>

        </body>

        </html>
    </h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core Hasan</a>.</p>
    <a href="@Url.Action("InsertItem", "Hasan")" class="btn btn-primary mb-3">Add New Item</a>
</div>
